.userPage {
  flex: 4;
  padding: 20px;

  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .userContainer {
    display: flex;
    margin-top: 20px;
  }
}