.patienPage {
  flex: 4;
  padding: 20px;

  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .patientContainer {
    display: flex;
    margin-top: 21px;
    height: 87%;

    .show {
      flex: 1;
      padding: 20px;
      -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

      .top {
        display: flex;
        align-items: center;

        .title {
          display: flex;
          flex-direction: column;
          margin-left: 20px;

          span.username {
            font-weight: 600;
          }

          span.userTitle {
            font-weight: 300;
          }
        }
      }

      .bottom {
        margin-top: 20px;
        .info {
          display: flex;
          align-items: center;
          margin: 20px 0px;
          color: #444;

          .infoTitle {
            margin-left: 10px;
          }
        }
      }
    }

    .medicalCard {
      flex: 5;
      padding: 20px;
      -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
      margin-left: 20px;
    }
  }
}
.editButton {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  margin-right: 15px;
  cursor: pointer;
}