.featuredInfo {
  display: flex;
  justify-content: space-between;

  a:active,
  a:hover,
  a {
    text-decoration: none;
    color: #212529;
  }

  .item {
    flex: 1;
    margin-top: 21px;
    margin-left: 21px;
    padding: 30px;
    border-radius: 8px;
    height: 160px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    cursor: pointer;

    .title {
      font-size: 20px;
    }

    div {
      margin: 9px 0px;
      display: flex;
      align-items: center;
      gap: 20px;

      .desc {
        font-size: 20px;
        font-weight: 600;
      }
    }

    .sub {
      font-size: 18px;
      color: gray;
    }
  }
}